USE [master]
GO
/****** Object:  Database [MeterDataDB]    Script Date: 25/05/2016 12:46:43 PM ******/
CREATE DATABASE [MeterDataDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MeterDataDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MeterDataDB.mdf' , SIZE = 5245952KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MeterDataDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MeterDataDB_log.ldf' , SIZE = 25757824KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MeterDataDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MeterDataDB]
GO
/****** Object:  Table [dbo].[IMD_15min]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMD_15min](
	[MeterPointID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[PeriodID] [tinyint] NOT NULL,
	[Net_KWH] [decimal](18, 6) NULL,
	[Net_KVARH] [decimal](18, 6) NULL,
	[Exp_KWH] [decimal](18, 6) NULL,
	[Imp_KWH] [decimal](18, 6) NULL,
	[Exp_KVARH] [decimal](18, 6) NULL,
	[Imp_KVARH] [decimal](18, 6) NULL,
	[KW] [decimal](18, 6) NULL,
	[KVA] [decimal](18, 6) NULL,
	[source_file_id] [int] NOT NULL,
	[MDPUpdateDateTime] [datetime] NULL,
	[QualityCode] [char](1) NOT NULL,
 CONSTRAINT [PK_IMD_15min] PRIMARY KEY CLUSTERED 
(
	[MeterPointID] ASC,
	[Date] ASC,
	[PeriodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMD_30min]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMD_30min](
	[MeterPointID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[PeriodID] [tinyint] NOT NULL,
	[Net_KWH] [decimal](18, 6) NULL,
	[Net_KVARH] [decimal](18, 6) NULL,
	[Exp_KWH] [decimal](18, 6) NULL,
	[Imp_KWH] [decimal](18, 6) NULL,
	[Exp_KVARH] [decimal](18, 6) NULL,
	[Imp_KVARH] [decimal](18, 6) NULL,
	[KW] [decimal](18, 6) NULL,
	[KVA] [decimal](18, 6) NULL,
	[KVA15] [decimal](18, 6) NULL,
	[KW15] [decimal](18, 6) NULL,
	[source_file_id] [int] NOT NULL,
	[MDPUpdateDateTime] [datetime] NULL,
	[QualityCode] [char](1) NOT NULL,
 CONSTRAINT [PK_IMD_30min] PRIMARY KEY CLUSTERED 
(
	[MeterPointID] ASC,
	[Date] ASC,
	[PeriodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMD_MeterPoint]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMD_MeterPoint](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MeterRef] [varchar](50) NOT NULL,
	[Commodity] [varchar](10) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[Source] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ConsumptionPoint] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMD_Staging]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMD_Staging](
	[source_file_id] [int] NOT NULL,
	[MeterRef] [varchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[PeriodID] [tinyint] NOT NULL,
	[IntervalLength] [tinyint] NOT NULL,
	[Net_KWH] [decimal](18, 6) NULL,
	[Net_KVARH] [decimal](18, 6) NULL,
	[Exp_KWH] [decimal](18, 6) NULL,
	[Imp_KWH] [decimal](18, 6) NULL,
	[Exp_KVARH] [decimal](18, 6) NULL,
	[Imp_KVARH] [decimal](18, 6) NULL,
	[KW] [decimal](18, 6) NULL,
	[KVA] [decimal](18, 6) NULL,
	[MDPUpdateDateTime] [datetime] NULL,
	[QualityCode] [char](1) NOT NULL,
	[MeterPointID] [int] NULL,
 CONSTRAINT [PK_IMD_Staging_1] PRIMARY KEY CLUSTERED 
(
	[source_file_id] ASC,
	[MeterRef] ASC,
	[Date] ASC,
	[PeriodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MeterDataLoaderFiles]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MeterDataLoaderFiles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[file_name] [varchar](50) NOT NULL,
	[source_folder] [varchar](150) NOT NULL,
	[process_status] [varchar](10) NOT NULL,
	[records_processed] [int] NOT NULL,
	[file_modified_dttm] [datetime] NULL,
	[added_dttm] [datetime] NOT NULL CONSTRAINT [DF_MeterDataLoaderFiles_added_dttm]  DEFAULT (getdate()),
 CONSTRAINT [PK_MeterDataLoaderFiles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MeterDataLoaderJobs]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MeterDataLoaderJobs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[source_folder] [varchar](150) NOT NULL,
	[success_folder] [varchar](150) NOT NULL,
	[fail_folder] [varchar](150) NOT NULL,
	[priority] [int] NOT NULL,
	[active_flag] [bit] NOT NULL,
	[filename_pattern] [varchar](50) NOT NULL,
	[handler] [varchar](50) NOT NULL CONSTRAINT [DF_MeterDataLoaderJobs_handler]  DEFAULT ('{}'),
	[handler_params] [text] NOT NULL,
	[success_retention_days] [int] NOT NULL CONSTRAINT [DF_Table_2_success_purge_days]  DEFAULT ((-1)),
	[added_dttm] [datetime] NOT NULL CONSTRAINT [DF_MeterDataLoaderJobs_added_dttm]  DEFAULT (getdate()),
	[commodity] [varchar](10) NOT NULL,
	[organisation] [varchar](100) NOT NULL,
 CONSTRAINT [PK_MeterDataLoaderJobs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEMMDF_B2BDetails]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEMMDF_B2BDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StreamID] [int] NOT NULL,
	[IntervalDate] [date] NOT NULL,
	[TransCode] [char](1) NOT NULL,
	[RetServiceOrder] [varchar](15) NOT NULL CONSTRAINT [DF_NEMMDF_B2BDetails_RetServiceOrder]  DEFAULT (''),
	[ReadDateTime] [datetime] NULL,
	[IndexRead] [varchar](10) NOT NULL CONSTRAINT [DF_NEMMDF_B2BDetails_IndexRead]  DEFAULT (''),
 CONSTRAINT [PK_NEMMDF_B2BDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEMMDF_FileDetails]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEMMDF_FileDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VersionHeader] [varchar](5) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[FromParticipant] [varchar](10) NOT NULL,
	[ToParticipant] [varchar](10) NOT NULL,
	[source_file_id] [int] NOT NULL,
 CONSTRAINT [PK_NEMMDF_FileDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEMMDF_IntervalData]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEMMDF_IntervalData](
	[StreamID] [int] NOT NULL,
	[IntervalDate] [date] NOT NULL,
	[IntervalNumber] [tinyint] NOT NULL,
	[IntervalLength] [tinyint] NOT NULL,
	[Value] [decimal](18, 5) NOT NULL,
	[UOM_ID] [tinyint] NOT NULL,
	[QualityDetailsID] [int] NOT NULL,
 CONSTRAINT [PK_NEMMDF_IntervalData] PRIMARY KEY CLUSTERED 
(
	[StreamID] ASC,
	[IntervalDate] ASC,
	[IntervalNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NEMMDF_QualityDetails]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEMMDF_QualityDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QualityMethod] [varchar](3) NOT NULL,
	[ReasonCode] [smallint] NULL CONSTRAINT [DF_NEMMDF_QualityDetails_ReasonCode]  DEFAULT (''),
	[ReasonDescription] [varchar](240) NOT NULL CONSTRAINT [DF_NEMMDF_QualityDetails_ReasonDescription]  DEFAULT (''),
 CONSTRAINT [PK_NEMMDF_QualityDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEMMDF_Staging_100]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEMMDF_Staging_100](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VersionHeader] [varchar](5) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[FromParticipant] [varchar](10) NOT NULL,
	[ToParticipant] [varchar](10) NOT NULL,
	[source_file_id] [int] NOT NULL,
	[file_details_id] [int] NULL,
 CONSTRAINT [PK_NEMMDF_Staging_100] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEMMDF_Staging_200]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEMMDF_Staging_200](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[staging_100_id] [int] NOT NULL,
	[NMI] [char](10) NOT NULL,
	[NMIConfiguration] [varchar](240) NOT NULL,
	[RegisterID] [varchar](10) NULL,
	[NMISuffix] [char](2) NOT NULL,
	[MDMDataStreamIdentifier] [char](2) NULL,
	[MeterSerialNumber] [varchar](12) NULL,
	[UOM] [varchar](5) NOT NULL,
	[IntervalLength] [tinyint] NOT NULL,
	[NextScheduledReadDate] [date] NULL,
	[source_file_id] [int] NOT NULL,
	[StreamID] [int] NULL,
	[UOM_ID] [tinyint] NULL,
	[StreamDetailsID] [int] NULL,
 CONSTRAINT [PK_NEMMDF_Staging_200] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEMMDF_Staging_300]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEMMDF_Staging_300](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[staging_200_id] [int] NOT NULL,
	[IntervalDate] [date] NOT NULL,
	[IntervalValue1] [decimal](18, 5) NOT NULL,
	[IntervalValue2] [decimal](18, 5) NOT NULL,
	[IntervalValue3] [decimal](18, 5) NOT NULL,
	[IntervalValue4] [decimal](18, 5) NOT NULL,
	[IntervalValue5] [decimal](18, 5) NOT NULL,
	[IntervalValue6] [decimal](18, 5) NOT NULL,
	[IntervalValue7] [decimal](18, 5) NOT NULL,
	[IntervalValue8] [decimal](18, 5) NOT NULL,
	[IntervalValue9] [decimal](18, 5) NOT NULL,
	[IntervalValue10] [decimal](18, 5) NOT NULL,
	[IntervalValue11] [decimal](18, 5) NOT NULL,
	[IntervalValue12] [decimal](18, 5) NOT NULL,
	[IntervalValue13] [decimal](18, 5) NOT NULL,
	[IntervalValue14] [decimal](18, 5) NOT NULL,
	[IntervalValue15] [decimal](18, 5) NOT NULL,
	[IntervalValue16] [decimal](18, 5) NOT NULL,
	[IntervalValue17] [decimal](18, 5) NOT NULL,
	[IntervalValue18] [decimal](18, 5) NOT NULL,
	[IntervalValue19] [decimal](18, 5) NOT NULL,
	[IntervalValue20] [decimal](18, 5) NOT NULL,
	[IntervalValue21] [decimal](18, 5) NOT NULL,
	[IntervalValue22] [decimal](18, 5) NOT NULL,
	[IntervalValue23] [decimal](18, 5) NOT NULL,
	[IntervalValue24] [decimal](18, 5) NOT NULL,
	[IntervalValue25] [decimal](18, 5) NOT NULL,
	[IntervalValue26] [decimal](18, 5) NOT NULL,
	[IntervalValue27] [decimal](18, 5) NOT NULL,
	[IntervalValue28] [decimal](18, 5) NOT NULL,
	[IntervalValue29] [decimal](18, 5) NOT NULL,
	[IntervalValue30] [decimal](18, 5) NOT NULL,
	[IntervalValue31] [decimal](18, 5) NOT NULL,
	[IntervalValue32] [decimal](18, 5) NOT NULL,
	[IntervalValue33] [decimal](18, 5) NOT NULL,
	[IntervalValue34] [decimal](18, 5) NOT NULL,
	[IntervalValue35] [decimal](18, 5) NOT NULL,
	[IntervalValue36] [decimal](18, 5) NOT NULL,
	[IntervalValue37] [decimal](18, 5) NOT NULL,
	[IntervalValue38] [decimal](18, 5) NOT NULL,
	[IntervalValue39] [decimal](18, 5) NOT NULL,
	[IntervalValue40] [decimal](18, 5) NOT NULL,
	[IntervalValue41] [decimal](18, 5) NOT NULL,
	[IntervalValue42] [decimal](18, 5) NOT NULL,
	[IntervalValue43] [decimal](18, 5) NOT NULL,
	[IntervalValue44] [decimal](18, 5) NOT NULL,
	[IntervalValue45] [decimal](18, 5) NOT NULL,
	[IntervalValue46] [decimal](18, 5) NOT NULL,
	[IntervalValue47] [decimal](18, 5) NOT NULL,
	[IntervalValue48] [decimal](18, 5) NOT NULL,
	[IntervalValue49] [decimal](18, 5) NULL,
	[IntervalValue50] [decimal](18, 5) NULL,
	[IntervalValue51] [decimal](18, 5) NULL,
	[IntervalValue52] [decimal](18, 5) NULL,
	[IntervalValue53] [decimal](18, 5) NULL,
	[IntervalValue54] [decimal](18, 5) NULL,
	[IntervalValue55] [decimal](18, 5) NULL,
	[IntervalValue56] [decimal](18, 5) NULL,
	[IntervalValue57] [decimal](18, 5) NULL,
	[IntervalValue58] [decimal](18, 5) NULL,
	[IntervalValue59] [decimal](18, 5) NULL,
	[IntervalValue60] [decimal](18, 5) NULL,
	[IntervalValue61] [decimal](18, 5) NULL,
	[IntervalValue62] [decimal](18, 5) NULL,
	[IntervalValue63] [decimal](18, 5) NULL,
	[IntervalValue64] [decimal](18, 5) NULL,
	[IntervalValue65] [decimal](18, 5) NULL,
	[IntervalValue66] [decimal](18, 5) NULL,
	[IntervalValue67] [decimal](18, 5) NULL,
	[IntervalValue68] [decimal](18, 5) NULL,
	[IntervalValue69] [decimal](18, 5) NULL,
	[IntervalValue70] [decimal](18, 5) NULL,
	[IntervalValue71] [decimal](18, 5) NULL,
	[IntervalValue72] [decimal](18, 5) NULL,
	[IntervalValue73] [decimal](18, 5) NULL,
	[IntervalValue74] [decimal](18, 5) NULL,
	[IntervalValue75] [decimal](18, 5) NULL,
	[IntervalValue76] [decimal](18, 5) NULL,
	[IntervalValue77] [decimal](18, 5) NULL,
	[IntervalValue78] [decimal](18, 5) NULL,
	[IntervalValue79] [decimal](18, 5) NULL,
	[IntervalValue80] [decimal](18, 5) NULL,
	[IntervalValue81] [decimal](18, 5) NULL,
	[IntervalValue82] [decimal](18, 5) NULL,
	[IntervalValue83] [decimal](18, 5) NULL,
	[IntervalValue84] [decimal](18, 5) NULL,
	[IntervalValue85] [decimal](18, 5) NULL,
	[IntervalValue86] [decimal](18, 5) NULL,
	[IntervalValue87] [decimal](18, 5) NULL,
	[IntervalValue88] [decimal](18, 5) NULL,
	[IntervalValue89] [decimal](18, 5) NULL,
	[IntervalValue90] [decimal](18, 5) NULL,
	[IntervalValue91] [decimal](18, 5) NULL,
	[IntervalValue92] [decimal](18, 5) NULL,
	[IntervalValue93] [decimal](18, 5) NULL,
	[IntervalValue94] [decimal](18, 5) NULL,
	[IntervalValue95] [decimal](18, 5) NULL,
	[IntervalValue96] [decimal](18, 5) NULL,
	[UpdateDateTime] [datetime] NULL,
	[MSATSLoadDateTime] [datetime] NULL,
	[source_file_id] [int] NOT NULL,
	[update_type] [char](1) NULL,
 CONSTRAINT [PK_NEMMDF_Staging_300] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEMMDF_Staging_400]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEMMDF_Staging_400](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[staging_300_id] [bigint] NOT NULL,
	[StartInterval] [smallint] NOT NULL,
	[EndInterval] [smallint] NOT NULL,
	[QualityMethod] [varchar](3) NOT NULL,
	[ReasonCode] [smallint] NULL CONSTRAINT [DF_NEMMDF_Staging_400_ReasonCode]  DEFAULT (''),
	[ReasonDescription] [varchar](240) NOT NULL CONSTRAINT [DF_NEMMDF_Staging_400_ReasonDescription]  DEFAULT (''),
	[source_file_id] [int] NOT NULL,
	[quality_details_id] [int] NULL,
 CONSTRAINT [PK_NEMMDF_Staging_400] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEMMDF_Staging_500]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEMMDF_Staging_500](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[staging_300_id] [bigint] NOT NULL,
	[StreamDayDetailsID] [int] NULL,
	[TransCode] [char](1) NOT NULL,
	[RetServiceOrder] [varchar](15) NOT NULL,
	[ReadDateTime] [datetime] NULL,
	[IndexRead] [varchar](10) NOT NULL,
	[source_file_id] [int] NOT NULL,
 CONSTRAINT [PK_NEMMDF_Staging_500] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEMMDF_Staging_IntervalData]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEMMDF_Staging_IntervalData](
	[staging_300_id] [bigint] NOT NULL,
	[StreamID] [int] NOT NULL,
	[IntervalDate] [date] NOT NULL,
	[IntervalNumber] [tinyint] NOT NULL,
	[IntervalLength] [tinyint] NOT NULL,
	[Value] [decimal](18, 5) NOT NULL,
	[UOM_ID] [tinyint] NOT NULL,
	[QualityDetailsID] [int] NULL,
	[source_file_id] [int] NOT NULL,
 CONSTRAINT [PK_NEMMDF_Staging_IntervalData] PRIMARY KEY CLUSTERED 
(
	[StreamID] ASC,
	[IntervalDate] ASC,
	[IntervalNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NEMMDF_Stream]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEMMDF_Stream](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NMI] [char](10) NOT NULL,
	[NMISuffix] [char](2) NOT NULL,
	[MeterPointRef] [char](1) NOT NULL,
	[StreamRef] [char](1) NOT NULL,
 CONSTRAINT [PK_NEMMDF_Stream] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEMMDF_StreamDay]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEMMDF_StreamDay](
	[StreamID] [int] NOT NULL,
	[IntervalDate] [date] NOT NULL,
	[source_file_id] [int] NOT NULL,
	[UpdateDateTime] [datetime] NULL,
	[MSATSLoadDateTime] [datetime] NULL,
	[StreamDetailsID] [int] NOT NULL,
	[IntervalLength] [tinyint] NOT NULL,
 CONSTRAINT [PK_NEMMDF_StreamDay] PRIMARY KEY CLUSTERED 
(
	[StreamID] ASC,
	[IntervalDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NEMMDF_StreamDetails]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEMMDF_StreamDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NMIConfiguration] [varchar](240) NOT NULL,
	[RegisterID] [varchar](10) NULL,
	[MDMDataStreamIdentifier] [char](2) NULL,
	[MeterSerialNumber] [varchar](12) NULL,
	[UOM] [varchar](5) NOT NULL,
	[IntervalLength] [tinyint] NOT NULL,
	[NextScheduledReadDate] [date] NULL,
 CONSTRAINT [PK_NEMMDF_StreamDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEMMDF_UOM]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEMMDF_UOM](
	[UOM_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[UOM] [varchar](5) NOT NULL,
	[Base_UOM] [varchar](5) NOT NULL,
	[Base_Multiplier] [decimal](18, 9) NOT NULL,
	[Integrative] [bit] NULL,
 CONSTRAINT [PK_NEMMDF_UOM] PRIMARY KEY CLUSTERED 
(
	[UOM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PerformanceLog]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PerformanceLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[source_file_id] [int] NOT NULL,
	[message] [varchar](100) NOT NULL,
	[added_dttm] [datetime] NOT NULL CONSTRAINT [DF_PerformanceLog_added_dttm]  DEFAULT (getdate()),
 CONSTRAINT [PK_PerformanceLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPMDF_MeterDetails]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPMDF_MeterDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MeterRef] [varchar](50) NOT NULL,
	[NMI] [varchar](10) NULL,
	[StreamRef] [char](1) NULL,
	[MeterSerialNumber] [varchar](15) NULL,
	[DLF_Code] [varchar](10) NULL,
	[TNI_Code] [varchar](10) NULL,
	[DLF_Value] [decimal](9, 6) NULL,
	[TLF_Value] [decimal](9, 6) NULL,
	[Max_Date] [date] NOT NULL,
 CONSTRAINT [PK_SPMDF_MeterDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPMDF_Staging]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPMDF_Staging](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[source_file_id] [int] NOT NULL,
	[MeterRef] [varchar](50) NULL,
	[NMI] [varchar](10) NULL,
	[StreamRef] [varchar](1) NULL,
	[MeterSerialNumber] [varchar](15) NULL,
	[Date] [date] NULL,
	[PeriodID] [tinyint] NULL,
	[TimeStamp] [datetime] NULL,
	[TimestampType] [varchar](2) NULL,
	[IntervalLength] [tinyint] NOT NULL,
	[Net_KWH] [decimal](18, 6) NULL,
	[Net_KVARH] [decimal](18, 6) NULL,
	[Exp_KWH] [decimal](18, 6) NULL,
	[Imp_KWH] [decimal](18, 6) NULL,
	[Exp_KVARH] [decimal](18, 6) NULL,
	[Imp_KVARH] [decimal](18, 6) NULL,
	[KW] [decimal](18, 6) NULL,
	[KVA] [decimal](18, 6) NULL,
	[MDPUpdateDateTime] [datetime] NULL,
	[QualityCode] [char](1) NOT NULL,
	[DLF_Code] [varchar](10) NULL,
	[TNI_Code] [varchar](10) NULL,
	[DLF_Value] [decimal](9, 6) NULL,
	[TLF_Value] [decimal](9, 6) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ConsumptionPoint]    Script Date: 25/05/2016 12:46:43 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ConsumptionPoint] ON [dbo].[IMD_MeterPoint]
(
	[MeterRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NEMMDF_Staging_500] ADD  CONSTRAINT [DF_NEMMDF_Staging_500_RetServiceOrder]  DEFAULT ('') FOR [RetServiceOrder]
GO
ALTER TABLE [dbo].[NEMMDF_Staging_500] ADD  CONSTRAINT [DF_NEMMDF_Staging_500_IndexRead]  DEFAULT ('') FOR [IndexRead]
GO
/****** Object:  StoredProcedure [dbo].[MergeIMD_Staging]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MergeIMD_Staging] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	----------------------------------------------- Checks -----------------------------------------------
	-- If invalid data caught, dismiss the entire contents of the file
	DELETE FROM IMD_Staging WHERE source_file_id IN
	(
		SELECT DISTINCT source_file_id FROM IMD_Staging
		WHERE
		IntervalLength NOT IN (15, 30)
		OR (PeriodID NOT BETWEEN 1 and 96)
		OR (PeriodID > 48 AND IntervalLength = 30)
		OR (Exp_KWH < 0)
		OR (Imp_KWH < 0)
		OR (Exp_KVARH < 0)
		OR (Exp_KVARH < 0)
		OR (KVA < 0)
		OR (QualityCode NOT IN ('A','E','F','S','X'))		-- Actual, Estimated, Final, Substituted, Unknown
	)

	-------------------------------------------- Calculations --------------------------------------------
	-- Net_KWH from Exp_KWH and Imp_KWH
	UPDATE [dbo].[IMD_Staging] SET Net_KWH = Exp_KWH - Imp_KWH WHERE Net_KWH IS NULL	
	-- Net_KVARH from Exp_KVARH and Imp_KVARH
	UPDATE [dbo].[IMD_Staging] SET Net_KVARH = Exp_KVARH - Imp_KVARH WHERE Net_KVARH IS NULL
	-- KW FROM Net_KWH
	UPDATE [dbo].[IMD_Staging] SET KW = Net_KWH*(60/IntervalLength) WHERE KW IS NULL
	-- Net_KWH from KW
	UPDATE [dbo].[IMD_Staging] SET Net_KWH = KW/(60/IntervalLength) WHERE Net_KWH IS NULL
	-- KVA from Net_KWH and Net_KVARH
	UPDATE [dbo].[IMD_Staging] SET KVA = SQRT(Net_KWH*Net_KWH + Net_KVARH*Net_KVARH)*(60/IntervalLength) WHERE KVA IS NULL

	------------------------------------------ Merge to main tables --------------------------------------
	-- Add new MeterPoints
	MERGE IMD_MeterPoint T
	USING (
		SELECT DISTINCT MeterRef FROM IMD_Staging
	) AS S ON S.MeterRef = T.MeterRef
	WHEN NOT MATCHED BY TARGET THEN
		INSERT (MeterRef, Commodity, [Type], [Source])
		VALUES (S.MeterRef, 'ELEC', 'UNKNOWN', 'UNKNOWN')	-- TODO: configure this properly
	;

	-- Update MeterPointIDs in staging table
	UPDATE IMD_Staging SET MeterPointID = MP.ID
	FROM IMD_Staging S INNER JOIN IMD_MeterPoint MP ON MP.MeterRef = S.MeterRef

	-- Deal with duplicates in staging table 
	-- TODO: improve the logic here - for now just grab the data for the most recent source_file_id
	DELETE S FROM IMD_Staging S INNER JOIN (
		SELECT MeterPointID, [Date], PeriodID, max(source_file_id) as source_file_id
		FROM IMD_Staging GROUP BY MeterPointID, [Date], PeriodID
	) Smax ON S.MeterPointID = Smax.MeterPointID AND S.Date = Smax.Date AND S.PeriodID = Smax.PeriodID AND S.source_file_id <> Smax.source_file_id


	
	-- Merge to 15-minute table
	MERGE [dbo].[IMD_15min] T
	USING (
		SELECT MeterPointID, [Date], PeriodID, Net_KWH, Net_KVARH, Exp_KWH, Imp_KWH, Exp_KVARH, Imp_KVARH, KW, KVA, source_file_id, MDPUpdateDateTime, QualityCode
		FROM IMD_Staging
		WHERE IntervalLength = 15
	) AS S (MeterPointID, [Date], PeriodID, Net_KWH, Net_KVARH, Exp_KWH, Imp_KWH, Exp_KVARH, Imp_KVARH, KW, KVA, source_file_id, MDPUpdateDateTime, QualityCode)
	ON T.MeterPointID = S.MeterPointID and T.[Date] = S.[Date] AND T.PeriodID = S.PeriodID
	WHEN NOT MATCHED BY TARGET THEN 
		INSERT (MeterPointID, [Date], PeriodID, Net_KWH, Net_KVARH, Exp_KWH, Imp_KWH, Exp_KVARH, Imp_KVARH, KW, KVA, source_file_id, MDPUpdateDateTime, QualityCode)
		VALUES (S.MeterPointID, S.[Date], S.PeriodID, S.Net_KWH, S.Net_KVARH, S.Exp_KWH, S.Imp_KWH, S.Exp_KVARH, S.Imp_KVARH, S.KW, S.KVA, S.source_file_id, S.MDPUpdateDateTime, S.QualityCode)
	WHEN MATCHED AND (S.MDPUpdateDateTime > T.MDPUpdateDateTime OR T.MDPUpdateDateTime IS NULL) THEN
		UPDATE SET Net_KWH = S.Net_KWH, Net_KVARH = S.Net_KVARH, Exp_KWH = S.Exp_KWH, Imp_KWH = S.Imp_KWH, Exp_KVARH = S.Exp_KVARH, Imp_KVARH = S.Imp_KVARH, KW = S.KW, KVA = S.KVA, source_file_id = S.source_file_id, MDPUpdateDateTime = S.MDPUpdateDateTime, QualityCode = S.QualityCode
	;

	-- Merge to 30-minute table
	MERGE [dbo].[IMD_30min] T
	USING (
		SELECT [source_file_id],[MeterPointID],[Date],[PeriodID]
		,[Net_KWH],[Net_KVARH],[Exp_KWH],[Imp_KWH],[Exp_KVARH],[Imp_KVARH],[KW],[KVA],NULL AS KVA15,NULL AS KW15
		,[MDPUpdateDateTime],[QualityCode]
		FROM [MeterDataDB].[dbo].[IMD_Staging]
		WHERE IntervalLength = 30
		UNION
		SELECT [source_file_id],[MeterPointID],[Date],([PeriodID]+1)/2 AS PeriodID
		,SUM([Net_KWH]),SUM([Net_KVARH]),SUM([Exp_KWH]),SUM([Imp_KWH]),SUM([Exp_KVARH]),SUM([Imp_KVARH])
		,AVG([KW]),AVG([KVA]),MAX(KVA),MAX(KW)
		,MAX([MDPUpdateDateTime]),MAX([QualityCode])
		FROM [MeterDataDB].[dbo].[IMD_Staging]
		WHERE IntervalLength = 15
		GROUP BY source_file_id, MeterPointID, [Date], ([PeriodID]+1)/2
		HAVING Count(source_file_id) = 2
	) AS S (source_file_id,MeterPointID, [Date], PeriodID, Net_KWH, Net_KVARH, Exp_KWH, Imp_KWH, Exp_KVARH, Imp_KVARH, KW, KVA, KVA15, KW15, MDPUpdateDateTime, QualityCode)
	ON T.MeterPointID = S.MeterPointID AND T.[Date] = S.[Date] AND T.PeriodID = S.PeriodID
	WHEN NOT MATCHED BY TARGET THEN
		INSERT (source_file_id,MeterPointID, [Date], PeriodID, Net_KWH, Net_KVARH, Exp_KWH, Imp_KWH, Exp_KVARH, Imp_KVARH, KW, KVA, KVA15, KW15, MDPUpdateDateTime, QualityCode)
		VALUES (S.source_file_id,S.MeterPointID, S.[Date], S.PeriodID, S.Net_KWH, S.Net_KVARH, S.Exp_KWH, S.Imp_KWH, S.Exp_KVARH, S.Imp_KVARH, S.KW, S.KVA, S.KVA15, S.KW15, S.MDPUpdateDateTime, S.QualityCode)
	WHEN MATCHED AND (T.MDPUpdateDateTime < S.MDPUpdateDateTime OR T.MDPUpdateDateTime IS NULL) THEN
		UPDATE SET Net_KWH = S.Net_KWH, Net_KVARH = S.Net_KVARH, Exp_KWH = S.Exp_KWH, Imp_KWH = S.Imp_KWH, Exp_KVARH = S.Exp_KVARH, Imp_KVARH = S.Imp_KVARH,
		KW = S.KW, KVA = S.KVA, KVA15 = S.KVA15, KW15 = S.KW15, source_file_id = S.source_file_id, MDPUpdateDateTime = S.MDPUpdateDateTime, QualityCode = S.QualityCode
	;
	---------------------------------------- CLEAR STAGING TABLES ----------------------------------------
	DELETE FROM IMD_Staging
	
	------------------------------------------------ END -------------------------------------------------
END



GO
/****** Object:  StoredProcedure [dbo].[MergeNEMMDF_Staging]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MergeNEMMDF_Staging]
	-- Add the parameters for the stored procedure here
	@sfid int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--SELECT * FROM NEMMDF_Staging_100 WHERE source_file_id = @sfid
--SELECT * FROM NEMMDF_Staging_200 D INNER JOIN NEMMDF_Staging_100 F ON F.ID = D.staging_100_id WHERE F.source_file_id = @sfid
--SELECT * FROM NEMMDF_Staging_300 A INNER JOIN NEMMDF_Staging_200 D ON A.staging_200_id = D.ID INNER JOIN NEMMDF_Staging_100 F ON F.ID = D.staging_100_id WHERE F.source_file_id = @sfid

DECLARE @MergeOutput TABLE (
	id1 int,
	id2 int	
)

DECLARE @StreamDaysToUpdate TABLE (
	IntervalLength tinyint,
	StreamID int,
	IntervalDate date
)

DECLARE @DeletedDays TABLE (
	StreamID int,
	IntervalDate date
)

-- Merge NMIs
--MERGE NEMMDF_NMI t
--USING (SELECT DISTINCT NMI FROM [NEMMDF_Staging_200] WHERE source_file_id = @sfid) AS src (NMI) 
--ON t.NMI = src.NMI
--WHEN NOT MATCHED THEN INSERT (NMI) VALUES (src.NMI)
--OUTPUT inserted.ID;

--UPDATE NEMMDF_Staging_200 SET NMI_ID = A.ID
--FROM NEMMDF_Staging_200 S INNER JOIN [dbo].[NEMMDF_NMI] A ON S.NMI = A.NMI where S.source_file_id = @sfid

--PRINT 'Inserted ' + convert(char,select count(*) FROM inserted) + ' NMIs'

EXEC PerfLog @sfid, 'merge NMI streams';
-- Merge NMI Streams
MERGE NEMMDF_Stream t
USING (
	SELECT DISTINCT NMI,NMISuffix FROM [NEMMDF_Staging_200] WHERE source_file_id = @sfid
) AS src (NMI,NMISuffix)
 ON t.NMI = src.NMI and t.NMISuffix = src.NMISuffix
WHEN NOT MATCHED THEN
	INSERT (NMI, NMISuffix, MeterPointRef, StreamRef) VALUES (src.NMI, src.NMISuffix, right(src.NMISuffix,1), left(src.NMISuffix,1))	
;


-- Merge StreamDetails
EXEC PerfLog @sfid, 'merge stream details';
MERGE NEMMDF_StreamDetails t
USING (
	SELECT ID, NMIConfiguration, RegisterID, MDMDataStreamIdentifier, MeterSerialNumber, UOM, IntervalLength, NextScheduledReadDate
	FROM [dbo].[NEMMDF_Staging_200] WHERE source_file_id = @sfid
) AS src (staging_200_id, NMIConfiguration, RegisterID, MDMDataStreamIdentifier, MeterSerialNumber, UOM, IntervalLength, NextScheduledReadDate)
ON t.NMIConfiguration = src.NMIConfiguration AND t.UOM = src.UOM AND t.IntervalLength = src.IntervalLength AND isnull(t.RegisterID, '') = isnull(src.RegisterID, '') AND isnull(t.MDMDataStreamIdentifier, '') = isnull(src.MDMDataStreamIdentifier, '') AND isnull(t.MeterSerialNumber, '') = isnull(src.MeterSerialNumber, '') AND ((t.NextScheduledReadDate is null and src.NextScheduledReadDate is null) OR t.NextScheduledReadDate = src.NextScheduledReadDate)
WHEN NOT MATCHED BY TARGET THEN
	INSERT (NMIConfiguration, RegisterID, MDMDataStreamIdentifier, MeterSerialNumber, UOM, IntervalLength, NextScheduledReadDate) 
	VALUES (src.NMIConfiguration, src.RegisterID, src.MDMDataStreamIdentifier, src.MeterSerialNumber, src.UOM, src.IntervalLength, src.NextScheduledReadDate)
OUTPUT src.staging_200_id, inserted.ID INTO @MergeOutput;

-- 
EXEC PerfLog @sfid, 'update staging stream details';
UPDATE NEMMDF_Staging_200 SET StreamDetailsID = B.ID
FROM NEMMDF_Staging_200 A INNER JOIN NEMMDF_StreamDetails B ON A.NMIConfiguration = B.NMIConfiguration AND A.UOM = B.UOM AND A.IntervalLength = B.IntervalLength AND isnull(A.RegisterID, '') = isnull(B.RegisterID, '') AND isnull(A.MDMDataStreamIdentifier, '') = isnull(B.MDMDataStreamIdentifier, '') AND isnull(A.MeterSerialNumber, '') = isnull(B.MeterSerialNumber, '') AND ((A.NextScheduledReadDate is null and B.NextScheduledReadDate is null) OR A.NextScheduledReadDate = B.NextScheduledReadDate)



-- Update staging table with StreamID and UOM_ID
EXEC PerfLog @sfid, 'update staging table streamid and uom_id';
UPDATE NEMMDF_Staging_200 SET StreamID = A.ID, UOM_ID = U.UOM_ID
FROM NEMMDF_Staging_200 S 
INNER JOIN [dbo].[NEMMDF_Stream] A ON S.NMI = A.NMI AND S.NMISuffix = A.NMISuffix 
INNER JOIN [dbo].[NEMMDF_UOM] U ON U.UOM = UPPER(S.UOM)
where S.source_file_id = @sfid

EXEC PerfLog @sfid, 'merge quality details';
-- Merge QualityDetails
MERGE NEMMDF_QualityDetails t
USING (
	SELECT QualityMethod, ReasonCode, ReasonDescription
	FROM [dbo].[NEMMDF_Staging_400] WHERE source_file_id = @sfid
) AS src (QualityMethod, ReasonCode, ReasonDescription)
ON t.QualityMethod = src.QualityMethod AND t.ReasonDescription = src.ReasonDescription AND isnull(t.ReasonCode, '') = isnull(src.ReasonCode, '')
WHEN NOT MATCHED THEN
	INSERT (QualityMethod, ReasonCode, ReasonDescription) 
	VALUES (src.QualityMethod, src.ReasonCode, src.ReasonDescription)
OUTPUT inserted.ID;



EXEC PerfLog @sfid, 'update staging quality details';
UPDATE NEMMDF_Staging_400 SET quality_details_id = QD.ID
FROM NEMMDF_Staging_400 S INNER JOIN [dbo].[NEMMDF_QualityDetails] QD ON S.QualityMethod = QD.QualityMethod AND S.ReasonDescription = QD.ReasonDescription AND isnull(S.ReasonCode, '') = isnull(QD.ReasonCode, '')
WHERE S.source_file_id = @sfid;


-- -- Which records from staging 300 table need to be added or updated?
--MERGE [NEMMDF_Staging_300] S
--USING (
--	SELECT NMI, NMISuffix, IntervalDate, UpdateDateTime
--	FROM [dbo].[NEMMDF_StreamDay] SD INNER JOIN [dbo].[NEMMDF_Stream] ST ON ST.ID = SD.StreamID
--) AS A (NMI, NMISuffix, IntervalDate, UpdateDateTime)
--ON S.NMI = A.NMI AND S.NMISuffix = A.NMISuffix AND S.IntervalDate = A.IntervalDate AND S.source_file_id = @sfid
--WHEN NOT MATCHED BY SOURCE THEN
--	UPDATE SET update_type = 'N'
--WHEN MATCHED AND (S.UpdateDateTime > A.UpdateDateTime OR A.UpdateDateTime IS NULL) THEN
--	UPDATE SET update_type = 'U';

EXEC PerfLog @sfid, 'determine stream days to update';
-- Determine stream days to update
INSERT INTO @StreamDaysToUpdate (IntervalLength, StreamID, IntervalDate)
SELECT S200.IntervalLength, SD.StreamID, SD.IntervalDate 
FROM [dbo].[NEMMDF_StreamDay] SD INNER JOIN [dbo].[NEMMDF_Staging_200] S200 ON S200.StreamID = SD.StreamID INNER JOIN [dbo].[NEMMDF_Staging_300] S300 ON S300.IntervalDate = SD.IntervalDate AND S300.staging_200_id = S200.ID
AND (S300.UpdateDateTime > SD.UpdateDateTime OR SD.UpdateDateTime IS NULL)
WHERE S300.source_file_id = @sfid AND S200.source_file_id = @sfid

-- Stream days to insert
INSERT INTO @StreamDaysToUpdate (IntervalLength, StreamID, IntervalDate)
SELECT S200.IntervalLength, S200.StreamID, S300.IntervalDate 
FROM [dbo].[NEMMDF_Staging_200] S200 INNER JOIN [dbo].[NEMMDF_Staging_300] S300 ON S300.staging_200_id = S200.ID
LEFT JOIN [dbo].[NEMMDF_StreamDay] SD ON S300.IntervalDate = SD.IntervalDate AND S200.StreamID = SD.StreamID 
WHERE S300.source_file_id = @sfid AND S200.source_file_id = @sfid AND SD.StreamID is NULL

--SELECT * FROM @StreamDaysToUpdate order by streamid, intervaldate

EXEC PerfLog @sfid, 'merge file details to main table';
-- Merge file details to main table
MERGE NEMMDF_FileDetails T
USING (
	SELECT [VersionHeader],[DateTime],[FromParticipant],[ToParticipant],source_file_id FROM NEMMDF_Staging_100 S WHERE S.source_file_id = @sfid
) AS S
ON S.source_file_id = T.source_file_id
WHEN NOT MATCHED BY TARGET THEN
	INSERT ([VersionHeader],[DateTime],[FromParticipant],[ToParticipant],source_file_id) VALUES (S.[VersionHeader],S.[DateTime],S.[FromParticipant],S.[ToParticipant],S.source_file_id);



EXEC PerfLog @sfid, 'delete old interval data';
-- Construct interval data for merging
DELETE FROM [NEMMDF_Staging_IntervalData];

EXEC PerfLog @sfid, 'construct interval data';


--WITH A AS (
SELECT S3.ID as staging_300_id, S2.StreamID, S2.IntervalLength, UOM_ID, S3.*
INTO #A
FROM [dbo].[NEMMDF_Staging_300] S3 INNER JOIN [dbo].[NEMMDF_Staging_200] S2 ON S3.staging_200_id = S2.ID
INNER JOIN @StreamDaysToUpdate U ON U.StreamID = S2.StreamID AND U.IntervalDate = S3.IntervalDate
WHERE S2.source_file_id = @sfid
--)

INSERT NEMMDF_Staging_IntervalData (StreamID, staging_300_id, IntervalDate, IntervalNumber, IntervalLength, Value, UOM_ID, source_file_id)
SELECT StreamID, staging_300_id, IntervalDate, IntervalNumber, IntervalLength, Value, UOM_ID, @sfid as source_file_id
FROM
(
SELECT StreamID, staging_300_id, IntervalDate, 1 as IntervalNumber, IntervalLength, IntervalValue1 AS Value, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 2, IntervalLength, IntervalValue2, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 3, IntervalLength, IntervalValue3, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 4, IntervalLength, IntervalValue4, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 5, IntervalLength, IntervalValue5, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 6, IntervalLength, IntervalValue6, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 7, IntervalLength, IntervalValue7, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 8, IntervalLength, IntervalValue8, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 9, IntervalLength, IntervalValue9, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 10, IntervalLength, IntervalValue10, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 11, IntervalLength, IntervalValue11, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 12, IntervalLength, IntervalValue12, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 13, IntervalLength, IntervalValue13, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 14, IntervalLength, IntervalValue14, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 15, IntervalLength, IntervalValue15, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 16, IntervalLength, IntervalValue16, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 17, IntervalLength, IntervalValue17, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 18, IntervalLength, IntervalValue18, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 19, IntervalLength, IntervalValue19, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 20, IntervalLength, IntervalValue20, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 21, IntervalLength, IntervalValue21, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 22, IntervalLength, IntervalValue22, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 23, IntervalLength, IntervalValue23, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 24, IntervalLength, IntervalValue24, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 25, IntervalLength, IntervalValue25, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 26, IntervalLength, IntervalValue26, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 27, IntervalLength, IntervalValue27, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 28, IntervalLength, IntervalValue28, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 29, IntervalLength, IntervalValue29, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 30, IntervalLength, IntervalValue30, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 31, IntervalLength, IntervalValue31, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 32, IntervalLength, IntervalValue32, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 33, IntervalLength, IntervalValue33, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 34, IntervalLength, IntervalValue34, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 35, IntervalLength, IntervalValue35, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 36, IntervalLength, IntervalValue36, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 37, IntervalLength, IntervalValue37, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 38, IntervalLength, IntervalValue38, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 39, IntervalLength, IntervalValue39, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 40, IntervalLength, IntervalValue40, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 41, IntervalLength, IntervalValue41, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 42, IntervalLength, IntervalValue42, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 43, IntervalLength, IntervalValue43, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 44, IntervalLength, IntervalValue44, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 45, IntervalLength, IntervalValue45, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 46, IntervalLength, IntervalValue46, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 47, IntervalLength, IntervalValue47, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 48, IntervalLength, IntervalValue48, UOM_ID FROM #A
UNION SELECT StreamID, staging_300_id, IntervalDate, 49, IntervalLength, IntervalValue49, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 50, IntervalLength, IntervalValue50, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 51, IntervalLength, IntervalValue51, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 52, IntervalLength, IntervalValue52, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 53, IntervalLength, IntervalValue53, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 54, IntervalLength, IntervalValue54, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 55, IntervalLength, IntervalValue55, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 56, IntervalLength, IntervalValue56, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 57, IntervalLength, IntervalValue57, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 58, IntervalLength, IntervalValue58, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 59, IntervalLength, IntervalValue59, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 60, IntervalLength, IntervalValue60, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 61, IntervalLength, IntervalValue61, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 62, IntervalLength, IntervalValue62, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 63, IntervalLength, IntervalValue63, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 64, IntervalLength, IntervalValue64, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 65, IntervalLength, IntervalValue65, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 66, IntervalLength, IntervalValue66, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 67, IntervalLength, IntervalValue67, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 68, IntervalLength, IntervalValue68, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 69, IntervalLength, IntervalValue69, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 70, IntervalLength, IntervalValue70, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 71, IntervalLength, IntervalValue71, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 72, IntervalLength, IntervalValue72, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 73, IntervalLength, IntervalValue73, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 74, IntervalLength, IntervalValue74, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 75, IntervalLength, IntervalValue75, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 76, IntervalLength, IntervalValue76, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 77, IntervalLength, IntervalValue77, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 78, IntervalLength, IntervalValue78, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 79, IntervalLength, IntervalValue79, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 80, IntervalLength, IntervalValue80, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 81, IntervalLength, IntervalValue81, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 82, IntervalLength, IntervalValue82, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 83, IntervalLength, IntervalValue83, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 84, IntervalLength, IntervalValue84, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 85, IntervalLength, IntervalValue85, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 86, IntervalLength, IntervalValue86, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 87, IntervalLength, IntervalValue87, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 88, IntervalLength, IntervalValue88, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 89, IntervalLength, IntervalValue89, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 90, IntervalLength, IntervalValue90, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 91, IntervalLength, IntervalValue91, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 92, IntervalLength, IntervalValue92, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 93, IntervalLength, IntervalValue93, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 94, IntervalLength, IntervalValue94, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 95, IntervalLength, IntervalValue95, UOM_ID FROM #A WHERE IntervalLength=15
UNION SELECT StreamID, staging_300_id, IntervalDate, 96, IntervalLength, IntervalValue96, UOM_ID FROM #A WHERE IntervalLength=15
) X;


EXEC PerfLog @sfid, 'add quality details to staging interval data';
-- Add quality details
UPDATE NEMMDF_Staging_IntervalData SET QualityDetailsID = Q.quality_details_id
FROM [dbo].[NEMMDF_Staging_IntervalData] S INNER JOIN [dbo].[NEMMDF_Staging_400] Q ON Q.staging_300_id = S.staging_300_id AND S.IntervalNumber >= Q.StartInterval AND S.IntervalNumber <= Q.EndInterval
WHERE S.source_file_id = @sfid


EXEC PerfLog @sfid, 'merge stream days';
-- Merge Stream Days
MERGE NEMMDF_StreamDay T
USING (
	SELECT StreamID, IntervalDate, UpdateDateTime, MSATSLoadDateTime, StreamDetailsID, S3.source_file_id, IntervalLength FROM [dbo].[NEMMDF_Staging_200] S2 INNER JOIN [dbo].[NEMMDF_Staging_300] S3 ON S3.staging_200_id = S2.ID WHERE S3.source_file_id = @sfid
) AS S
ON S.StreamID = T.StreamID AND S.IntervalDate = T.IntervalDate
WHEN NOT MATCHED BY TARGET THEN
	INSERT (StreamID, IntervalDate, source_file_id, UpdateDateTime, MSATSLoadDateTime, StreamDetailsID, IntervalLength) 
	VALUES (S.StreamID, S.IntervalDate, S.source_file_id, S.UpdateDateTime, S.MSATSLoadDateTime, S.StreamDetailsID, S.IntervalLength)
WHEN MATCHED AND (S.UpdateDateTime > T.UpdateDateTime OR T.UpdateDateTime IS NULL) THEN
	UPDATE SET source_file_id = S.source_file_id, UpdateDateTime = S.UpdateDateTime, MSATSLoadDateTime = S.MSATSLoadDateTime, StreamDetailsID = S.StreamDetailsID, IntervalLength = S.IntervalLength
OUTPUT deleted.StreamID, deleted.IntervalDate INTO @DeletedDays;


-- delete old B2B details
DELETE B FROM [dbo].[NEMMDF_B2BDetails] B
INNER JOIN @DeletedDays D ON D.StreamID = B.StreamID AND D.IntervalDate = B.IntervalDate


-- insert new B2B details
INSERT [dbo].[NEMMDF_B2BDetails] (StreamID, IntervalDate, TransCode, RetServiceOrder, ReadDateTime, IndexRead)
SELECT StreamID, IntervalDate, TransCode, RetServiceOrder, ReadDateTime, IndexRead
FROM [dbo].[NEMMDF_Staging_500] S5 INNER JOIN [dbo].[NEMMDF_Staging_300] S3 ON S5.staging_300_id = S3.ID
INNER JOIN [dbo].[NEMMDF_Staging_200] S2 ON S3.staging_200_id = S2.ID


--
EXEC PerfLog @sfid, 'merge interval data';
--select streamID, intervaldate from @StreamDaysToUpdate group by streamid, intervaldate HAVING Count(streamid)>1
--select streamID, intervaldate from [NEMMDF_Staging_IntervalData] group by streamid, intervaldate HAVING Count(streamid)>1

--SELECT A.StreamID, A.IntervalDate, A.IntervalNumber, A.IntervalLength, A.Value, A.UOM_ID, A.QualityDetailsID, A.source_file_id FROM [dbo].[NEMMDF_Staging_IntervalData] A
--INNER JOIN @StreamDaysToUpdate B ON A.StreamID = B.StreamID AND A.IntervalDate = B.IntervalDate
--ORDER BY A.StreamID, A.IntervalDate, A.IntervalNumber


-- Merge interval data
MERGE NEMMDF_IntervalData T
USING (
	SELECT A.StreamID, A.IntervalDate, A.IntervalNumber, A.IntervalLength, A.Value, A.UOM_ID, A.QualityDetailsID, A.source_file_id FROM [dbo].[NEMMDF_Staging_IntervalData] A
	INNER JOIN @StreamDaysToUpdate B ON A.StreamID = B.StreamID AND A.IntervalDate = B.IntervalDate
) AS S
ON S.StreamID = T.StreamID AND S.IntervalDate = T.IntervalDate AND S.IntervalNumber = T.IntervalNumber
WHEN NOT MATCHED BY TARGET THEN
	INSERT (StreamID, IntervalDate, IntervalNumber, IntervalLength, Value, UOM_ID, QualityDetailsID)
	VALUES (S.StreamID, S.IntervalDate, S.IntervalNumber, S.IntervalLength, S.Value, S.UOM_ID, S.QualityDetailsID)
WHEN MATCHED THEN
	UPDATE SET IntervalLength = S.IntervalLength, Value = S.Value, UOM_ID = S.UOM_ID, QualityDetailsID = S.QualityDetailsID
;


EXEC PerfLog @sfid, 'delete leftovers where day changes from 15- to 30-minute data';
-- Make sure no rows are left behind if we go from 15 to 30-minute date for a particular day
DELETE I FROM NEMMDF_IntervalData I
INNER JOIN @StreamDaysToUpdate D ON I.StreamID = D.StreamID AND I.IntervalDate = D.IntervalDate
WHERE D.IntervalLength = 30 and I.IntervalNumber > 48

EXEC PerfLog @sfid, 'deleting from staging tables';
DELETE FROM [dbo].[NEMMDF_Staging_100] WHERE source_file_id = @sfid
DELETE FROM [dbo].[NEMMDF_Staging_200] WHERE source_file_id = @sfid
DELETE FROM [dbo].[NEMMDF_Staging_300] WHERE source_file_id = @sfid
DELETE FROM [dbo].[NEMMDF_Staging_400] WHERE source_file_id = @sfid
DELETE FROM [dbo].[NEMMDF_Staging_500] WHERE source_file_id = @sfid


EXEC PerfLog @sfid, 'sending to IMD_Staging table';
-- IMD Staging data
DECLARE @nmi varchar(10)
DECLARE @firstdate date
DECLARE @lastdate date
DECLARE @nmi_dr_cursor CURSOR;

BEGIN
	SET @nmi_dr_cursor = CURSOR FOR
	SELECT S.NMI, MIN(SD.IntervalDate) AS FirstDate, MAX(SD.IntervalDate) AS LastDate
	FROM @StreamDaysToUpdate SD INNER JOIN [dbo].[NEMMDF_Stream] S ON SD.StreamID = S.ID
	GROUP BY S.NMI

	OPEN @nmi_dr_cursor
	FETCH NEXT FROM @nmi_dr_cursor INTO @nmi, @firstdate, @lastdate

	WHILE @@FETCH_STATUS = 0
	BEGIN
		FETCH NEXT FROM @nmi_dr_cursor INTO @nmi, @firstdate, @lastdate;
		EXEC [dbo].[NEMMDF_to_IMD_Staging] @nmi, @firstdate, @lastdate;	  
		EXEC PerfLog @sfid, @NMI
	END;

	CLOSE @nmi_dr_cursor;
	DEALLOCATE @nmi_dr_cursor;
END
EXEC PerfLog @sfid, 'merge to IMD tables';
EXEC MergeIMD_Staging


EXEC PerfLog @sfid, 'ends';
END





GO
/****** Object:  StoredProcedure [dbo].[MergeSPMDF_Staging]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MergeSPMDF_Staging]
	-- Add the parameters for the stored procedure here
	@sfid int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	EXEC PerfLog @sfid, 'SPMDF validation checks';
    ---------------------------- Validation checks ------------------------------------
	-- Check we have a valid MeterRef, or NMI-StreamRef pairs
	IF EXISTS (SELECT ID FROM SPMDF_Staging WHERE source_file_id = @sfid AND (LEN(MeterRef)=0 OR MeterRef IS NULL) AND ((LEN(NMI)=0 OR NMI IS NULL) OR (LEN(StreamRef)=0 OR StreamRef IS NULL)))
		THROW 51000, 'Invalid meter referencing found. Each record needs a MeterRef, or NMI and StreamRef', 1;
	-- Check interval lengths are either 15 or 30
	IF EXISTS (SELECT ID FROM SPMDF_Staging WHERE source_file_id = @sfid AND IntervalLength NOT IN (15,30))
		THROW 51000, 'Invalid IntervalLength information found. IntervalLength must be 15 or 30', 1;
	-- Check timestamps are valid
	IF EXISTS (SELECT ID FROM SPMDF_Staging WHERE source_file_id = @sfid AND ([TimeStamp] IS NULL OR NOT TimestampType IN ('PE','PS')) AND ([Date] IS NULL OR PeriodID IS NULL ))
		THROW 51000, 'Invalid Timestamp information found. Needs valid Timestamp and TimestampType, or Date and PeriodID', 1;
	-- Check for dodgy timestamp info
	IF EXISTS (SELECT ID FROM SPMDF_Staging WHERE source_file_id = @sfid AND PeriodID <1 OR (IntervalLength = 30 AND PeriodID > 48))
		THROW 51000, 'Invalid PeriodIDs found.', 1;

	EXEC PerfLog @sfid, 'Timestamp processing';
	----------------------------- Timestamp processing --------------------------------
	-- Get Date, PeriodID for each record
	UPDATE SPMDF_Staging SET TimestampType = 'PS', [Timestamp] = DATEADD(mi, -IntervalLength, [Timestamp])
	WHERE TimestampType = 'PE' AND [Timestamp] IS NOT NULL AND source_file_id = @sfid

	UPDATE SPMDF_Staging SET [Date] = CONVERT(date,[Timestamp]), PeriodID = 1 + DATEDIFF(mi, CONVERT(date,[Timestamp]), [Timestamp])/IntervalLength
	WHERE [Timestamp] IS NOT NULL AND [Date] IS NULL AND PeriodID IS NULL AND source_file_id = @sfid	

	EXEC PerfLog @sfid, 'Meter info processing';
	----------------------------- Meter info processing -------------------------------
	-- Everything should have a MeterRef
	UPDATE SPMDF_Staging SET MeterRef = NMI+'-'+StreamRef
	WHERE ISNULL(MeterRef,'') = '' AND ISNULL(NMI,'') <> '' AND ISNULL(StreamRef,'') <> '' AND source_file_id = @sfid

	UPDATE SPMDF_Staging SET MeterRef = NMI
	WHERE ISNULL(MeterRef,'') = '' AND ISNULL(NMI,'') <> '' AND ISNULL(StreamRef,'') = '' AND source_file_id = @sfid

	-- Check there are no duplicates by Date, PeriodID, MeterRef
	IF EXISTS (SELECT MAX(ID) FROM [SPMDF_Staging] WHERE source_file_id = @sfid GROUP BY [Date],PeriodID,MeterRef HAVING COUNT(ID)>1)
		THROW 51000, 'Duplicate timestamp for one or more meter. Check for DST or aggregation issues', 1;
	
	EXEC PerfLog @sfid, 'Construct NMI-level aggregated data';
	---------------------------- Aggregate to NMI level  ------------------------------
	-- Aggregate by NMI where multiple streams are present
	INSERT [dbo].[SPMDF_Staging] (source_file_id, MeterRef, NMI, [Date], PeriodID, IntervalLength, Net_KWH, Net_KVARH, Exp_KWH, Imp_KWH, Exp_KVARH, Imp_KVARH, KW, KVA, MDPUpdateDateTime, QualityCode)
	SELECT source_file_id, NMI, NMI, [Date], PeriodID, IntervalLength, SUM(Net_KWH), SUM(Net_KVARH), SUM(Exp_KWH), SUM(Imp_KWH), SUM(Exp_KVARH), SUM(Imp_KVARH), SUM(KW), SUM(KVA), MAX(MDPUpdateDateTime), MAX(QualityCode)
	FROM [dbo].[SPMDF_Staging]
	WHERE source_file_id = @sfid AND ISNULL(NMI,'')<>'' AND ISNULL(StreamRef,'')<>''
	GROUP BY source_file_id, NMI, [Date], PeriodID, IntervalLength
	HAVING COUNT(source_file_id)>1

	------------------------ Capture additional info ---------------------------------
	MERGE [dbo].[SPMDF_MeterDetails] T USING (
		SELECT MeterRef, NMI, StreamRef, MeterSerialNumber, DLF_Code, TNI_Code, DLF_Value, TLF_Value, MAX([date]) as Max_Date
		FROM [dbo].[SPMDF_Staging]
		GROUP BY MeterRef, NMI, StreamRef, MeterSerialNumber, DLF_Code, TNI_Code, DLF_Value, TLF_Value
		
	) AS S
	ON S.MeterRef = T.MeterRef AND ISNULL(S.NMI,'') = ISNULL(T.NMI,'') AND ISNULL(S.StreamRef,'') = ISNULL(T.StreamRef,'') AND ISNULL(S.MeterSerialNumber,'') = ISNULL(T.MeterSerialNumber,'') AND ISNULL(S.DLF_Code,'') = ISNULL(T.DLF_Code,'') AND ISNULL(S.TNI_Code,'') = ISNULL(T.TNI_Code,'') AND ISNULL(S.DLF_Value,0.0) = ISNULL(T.DLF_Value,0.0) AND ISNULL(S.TLF_Value,0.0) = ISNULL(T.TLF_Value,0.0)
	WHEN NOT MATCHED BY TARGET THEN
		INSERT (MeterRef, NMI, StreamRef, MeterSerialNumber, DLF_Code, TNI_Code, DLF_Value, TLF_Value, Max_Date)
		VALUES (S.MeterRef, S.NMI, S.StreamRef, S.MeterSerialNumber, S.DLF_Code, S.TNI_Code, S.DLF_Value, S.TLF_Value, S.Max_Date)
	WHEN MATCHED AND S.Max_Date > T.Max_Date THEN
		UPDATE SET Max_Date = S.Max_Date
		;

	--------------------------- Merge into IMD_MeterPoint ----------------------------
	-- Insert MeterPoint if not already exists
	MERGE IMD_MeterPoint T USING (
		SELECT DISTINCT MeterRef FROM [dbo].[SPMDF_Staging] WHERE source_file_id=@sfid) AS S (MeterRef)
	ON S.MeterRef = T.MeterRef
	WHEN NOT MATCHED BY TARGET THEN
		INSERT (MeterRef, Commodity, [Type], [Source]) VALUES (S.MeterRef, 'ELEC', 'UNKNOWN', '')
	;

	
	EXEC PerfLog @sfid, 'Merge Aggregate to NMI level';
	--------------------------- Compile data for IMD_Staging -------------------------	
	MERGE IMD_Staging T USING
	(	
		SELECT MeterRef, source_file_id, [Date], PeriodID, IntervalLength, MDPUpdateDateTime, QualityCode,
			Net_KWH, Net_KVARH, Exp_KWH, Imp_KWH, Exp_KVARH, Imp_KVARH, KW, KVA
		FROM [dbo].[SPMDF_Staging]
		WHERE source_file_id = @sfid
	) AS S (MeterRef, source_file_id, [Date], PeriodID, IntervalLength, MDPUpdateDateTime, QualityCode, Net_KWH, Net_KVARH, Exp_KWH, Imp_KWH, Exp_KVARH, Imp_KVARH, KW, KVA)
	ON S.source_file_id = T.source_file_id AND S.MeterRef = T.MeterRef AND S.[Date] = T.[Date] AND S.PeriodID = T.PeriodID
	WHEN NOT MATCHED BY TARGET THEN
		INSERT (MeterRef, source_file_id, [Date], PeriodID, IntervalLength, MDPUpdateDateTime, QualityCode, Net_KWH, Net_KVARH, Exp_KWH, Imp_KWH, Exp_KVARH, Imp_KVARH, KW, KVA)
		VALUES (S.MeterRef, S.source_file_id, S.[Date], S.PeriodID, S.IntervalLength, S.MDPUpdateDateTime, S.QualityCode, S.Net_KWH, S.Net_KVARH, S.Exp_KWH, S.Imp_KWH, S.Exp_KVARH, S.Imp_KVARH, S.KW, S.KVA)
	WHEN MATCHED AND (T.MDPUpdateDateTime > S.MDPUpdateDateTime OR T.MDPUpdateDateTime IS NULL) THEN
		UPDATE SET IntervalLength = S.IntervalLength, MDPUpdateDateTime = S.MDPUpdateDateTime, QualityCode = S.QualityCode, Exp_KWH = S.Exp_KWH, Imp_KWH = S.Imp_KWH, Exp_KVARH = S.Exp_KVARH, Imp_KVARH = S.Imp_KVARH
	;
	
	EXEC PerfLog @sfid, 'Merge IMD Staging table to main tables';
	EXEC MergeIMD_Staging


END




GO
/****** Object:  StoredProcedure [dbo].[NEMMDF_to_IMD_Staging]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[NEMMDF_to_IMD_Staging]
	-- Add the parameters for the stored procedure here	
	@NMI varchar(10),
	@firstdate date = '1900-01-01',
	@lastdate date = '2100-01-01'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert MeterPoint if not already exists
	MERGE IMD_MeterPoint T USING (
		VALUES (@NMI, 'ELEC', 'NMI', '')) AS S (NMI, Commodity, [Type], [Source])
	ON S.NMI = T.MeterRef
	WHEN NOT MATCHED BY TARGET THEN
		INSERT (MeterRef, Commodity, [Type], [Source]) VALUES (S.NMI, S.Commodity, S.[Type], S.[Source])
	;

	-- compile data for IMD_Staging - NMI-aggregate
	MERGE IMD_Staging T USING
	(	
		SELECT @NMI as MeterRef, MAX(SD.source_file_id) as source_file_id, 
			ID.IntervalDate, IntervalNumber, ID.IntervalLength, MAX(SD.UpdateDateTime) as MDPUpdateDateTime, MAX(left(QualityMethod,1)) as Quality,
			SUM(CASE WHEN StreamRef = 'E' THEN Value*Base_Multiplier ELSE 0 END) AS Exp_KWH, 
			SUM(CASE WHEN StreamRef = 'B' THEN Value*Base_Multiplier ELSE 0 END) AS Imp_KWH,
			SUM(CASE WHEN StreamRef = 'K' THEN Value*Base_Multiplier ELSE 0 END) AS Imp_KVARH, 
			SUM(CASE WHEN StreamRef = 'Q' THEN Value*Base_Multiplier ELSE 0 END) AS Exp_KVARH		
		FROM [dbo].[NEMMDF_IntervalData] ID INNER JOIN [dbo].[NEMMDF_Stream] S ON ID.StreamID = S.ID
		INNER JOIN [dbo].[NEMMDF_StreamDay] SD ON SD.StreamID = ID.StreamID AND SD.IntervalDate = ID.IntervalDate
		INNER JOIN [dbo].[NEMMDF_QualityDetails] Q ON Q.ID = ID.QualityDetailsID
		INNER JOIN [dbo].[NEMMDF_UOM] UOM ON ID.UOM_ID = UOM.UOM_ID
		WHERE S.NMI = @NMI AND ID.IntervalDate >= @firstdate AND ID.IntervalDate <= @lastdate AND left(QualityMethod,1) <> 'N'
		group by S.NMI, ID.IntervalDate, IntervalNumber, ID.IntervalLength
	) AS S (MeterRef, source_file_id, [Date], PeriodID, IntervalLength, MDPUpdateDateTime, QualityCode, Exp_KWH, Imp_KWH, Exp_KVARH, Imp_KVARH)
	ON S.source_file_id = T.source_file_id AND S.MeterRef = T.MeterRef AND S.Date = T.Date AND S.PeriodID = T.PeriodID
	WHEN NOT MATCHED BY TARGET THEN
		INSERT (MeterRef, source_file_id, [Date], PeriodID, IntervalLength, MDPUpdateDateTime, QualityCode, Exp_KWH, Imp_KWH, Exp_KVARH, Imp_KVARH)
		VALUES (S.MeterRef, S.source_file_id, S.[Date], S.PeriodID, S.IntervalLength, S.MDPUpdateDateTime, S.QualityCode, S.Exp_KWH, S.Imp_KWH, S.Exp_KVARH, S.Imp_KVARH)
	WHEN MATCHED AND (T.MDPUpdateDateTime > S.MDPUpdateDateTime OR T.MDPUpdateDateTime IS NULL) THEN
		UPDATE SET IntervalLength = S.IntervalLength, MDPUpdateDateTime = S.MDPUpdateDateTime, QualityCode = S.QualityCode, Exp_KWH = S.Exp_KWH, Imp_KWH = S.Imp_KWH, Exp_KVARH = S.Exp_KVARH, Imp_KVARH = S.Imp_KVARH
	;

	-- data for IMD_Staging - NMI-X level (only inserted if MeterPoint already created in IMD_MeterPoint)
	MERGE IMD_Staging T USING
	(	
		SELECT M.MeterRef, MAX(SD.source_file_id) as source_file_id, 
			ID.IntervalDate, IntervalNumber, ID.IntervalLength, MAX(SD.UpdateDateTime) as MDPUpdateDateTime, MAX(left(QualityMethod,1)) as Quality,
			SUM(CASE WHEN StreamRef = 'E' THEN Value*Base_Multiplier ELSE 0 END) AS Exp_KWH, 
			SUM(CASE WHEN StreamRef = 'B' THEN Value*Base_Multiplier ELSE 0 END) AS Imp_KWH,
			SUM(CASE WHEN StreamRef = 'K' THEN Value*Base_Multiplier ELSE 0 END) AS Imp_KVARH, 
			SUM(CASE WHEN StreamRef = 'Q' THEN Value*Base_Multiplier ELSE 0 END) AS Exp_KVARH		
		FROM [dbo].[NEMMDF_IntervalData] ID INNER JOIN [dbo].[NEMMDF_Stream] S ON ID.StreamID = S.ID
		INNER JOIN [dbo].[NEMMDF_StreamDay] SD ON SD.StreamID = ID.StreamID AND SD.IntervalDate = ID.IntervalDate
		INNER JOIN [dbo].[NEMMDF_QualityDetails] Q ON Q.ID = ID.QualityDetailsID
		INNER JOIN [dbo].[IMD_MeterPoint] M ON M.MeterRef = S.NMI+'-'+S.MeterPointRef
		INNER JOIN [dbo].[NEMMDF_UOM] UOM ON ID.UOM_ID = UOM.UOM_ID
		WHERE S.NMI = @NMI AND ID.IntervalDate >= @firstdate AND ID.IntervalDate <= @lastdate AND left(QualityMethod,1) <> 'N'
		group by M.MeterRef, ID.IntervalDate, IntervalNumber, ID.IntervalLength	
	) AS S (MeterRef, source_file_id, [Date], PeriodID, IntervalLength, MDPUpdateDateTime, QualityCode, Exp_KWH, Imp_KWH, Exp_KVARH, Imp_KVARH)
	ON S.source_file_id = T.source_file_id AND S.MeterRef = T.MeterRef AND S.Date = T.Date AND S.PeriodID = T.PeriodID
	WHEN NOT MATCHED BY TARGET THEN
		INSERT (MeterRef, source_file_id, [Date], PeriodID, IntervalLength, MDPUpdateDateTime, QualityCode, Exp_KWH, Imp_KWH, Exp_KVARH, Imp_KVARH)
		VALUES (S.MeterRef, S.source_file_id, S.[Date], S.PeriodID, S.IntervalLength, S.MDPUpdateDateTime, S.QualityCode, S.Exp_KWH, S.Imp_KWH, S.Exp_KVARH, S.Imp_KVARH)
	WHEN MATCHED AND (T.MDPUpdateDateTime > S.MDPUpdateDateTime OR T.MDPUpdateDateTime IS NULL) THEN
		UPDATE SET IntervalLength = S.IntervalLength, MDPUpdateDateTime = S.MDPUpdateDateTime, QualityCode = S.QualityCode, Exp_KWH = S.Exp_KWH, Imp_KWH = S.Imp_KWH, Exp_KVARH = S.Exp_KVARH, Imp_KVARH = S.Imp_KVARH
	;

	-- 

	
END





GO
/****** Object:  StoredProcedure [dbo].[PerfLog]    Script Date: 25/05/2016 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PerfLog]
(
	-- Add the parameters for the function here
	@sfid int,
	@msg varchar(100)	
)
AS
BEGIN
	INSERT MeterDataDB.dbo.PerformanceLog (source_file_id, [message])	
	VALUES (@sfid, @msg)	
END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Priority for processing. Lower numbers will be processed first' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MeterDataLoaderJobs', @level2type=N'COLUMN',@level2name=N'priority'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A Python literal that evaluates to a dict object to be passed to the loader.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MeterDataLoaderJobs', @level2type=N'COLUMN',@level2name=N'handler_params'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Days to keep successfully processed files. Older files will be removed. A negative value means no purging' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MeterDataLoaderJobs', @level2type=N'COLUMN',@level2name=N'success_retention_days'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'N for new, U for updated, O for old' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NEMMDF_Staging_300', @level2type=N'COLUMN',@level2name=N'update_type'
GO
USE [master]
GO
